body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  font-family: 'Source Sans Pro Black';
}

.side-by-side-container {
  display: flex;
  margin-bottom: 100px;
}

.side-by-side-container p {
  margin-bottom: 40px;
}

.section-margin {
  margin-left: 6%;
  margin-right: 6%;
}

.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
  text-align: justify;
}

.half-width img {
  width: 55%
}

.orange-color {
  color: #ffad5a;
}

#darkslategray-color {
  color: #333333;
}

.button {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5959;
  padding: 10px 40px;
  border-radius: 5px;
}

.top-side-design {
  margin-top: 150px;
  padding-left: 10px;
  border-left: 5px solid #ff5959;
}

#extra-space {
  margin-top: 55px;
}

#section-two-heading {
  color: #13103a;
  text-align: center;
  margin-bottom: 70px;
}

.mission-container img {
  width: 40%;
  padding-left: 5%;
  padding-top: 5%;
}

.mission-container h2 {
  padding-left: 20px;
  padding-right: 50px;
}

.mission-container p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 50px;
}

#mission {
  background-color: #edf5f6;
  border-radius: 30px;
  margin-right: 50px;
  margin-left: 10%;
  margin-bottom: 20px;
}

#vision {
  background-color: #ffeeee;
  border-radius: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
}

#goals {
  background-color: #fff4d6;
  border-radius: 30px;
  margin-right: 10%;
  margin-bottom: 20px;
}

.middle-banner {
  background-image: url(./images/shapes/shape.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-y: 100px;
}

.middle-banner-two {
  background-image: url(./images/shapes/shape.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 80%;
  background-position-y: 80%;
}

.section-five h1 {
  text-align: center;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ff5959;
  font-family: inherit;
  outline: 0;
}

textarea {
  height: 100px;
}

footer {
  margin-top: 5%;
  background-color: #0b0d17;
  padding: 25px;
}

footer h1 {
  color: #ffffff;
  font-family: 'Monotype Corsiva';
  text-align: center;
}

#footer {
  color: #ff5959;
}

footer p {
  color: #ffffff;
  text-align: center;
}